body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container {
  width: 60%;
  height: 600px;
  border: 2px solid black;
  background-color: #d5a5a4;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.input-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.signin-button {
  margin: 10px;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
}

.signup-button {
  margin: 10px;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  background-image: url('groceries.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.wrapper {
  width: 60%;
  height: 600px;
  border: 2px solid black;
  background-color: #d5a5a4;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.shoppinglist {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  background-image: url('groceries.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 767px) {
  .form-container {
    flex-direction: column;
    width: 80%;
    justify-content: flex-end;
  }

  .wrapper {
    width: 80%;
    flex-direction: column;
  }

  .input-container {
    width: 100%;
    padding-bottom: 50px;
  }

  .button-container {
    width: 100%;
    height: 50%;
  }

  .photo {
    display: none;
  }

  .shoppinglist {
    width: 100%;
  }
}
